html,body{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	  background: #48CFAD;
	  background: -webkit-linear-gradient(top left,#48CFAD,#19A784); 
	  background: -o-linear-gradient(top left,#48CFAD,#19A784); 
	  background: -moz-linear-gradient(top left,#48CFAD,#19A784);
	  background: linear-gradient(top left,#48CFAD,#19A784);
}

.child-container{
	width: 40%;
	height: 70%;
	background: rgba(207,202,217,1);
	background: -webkit-linear-gradient(30deg, rgba(255, 255, 255, 0.521569) 15%, rgb(255, 255, 255) 59%); 
	background: -o-linear-gradient(30deg, rgba(255, 255, 255, 0.521569) 15%, rgb(255, 255, 255) 59%); 
	background: -moz-linear-gradient(30deg, rgba(255, 255, 255, 0.521569) 15%, rgb(255, 255, 255) 59%);
	background: linear-gradient(30deg, rgba(255, 255, 255, 0.521569) 15%, rgb(255, 255, 255) 59%);
	margin: 0 auto;
	position: relative;
	top: 15%;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.180392) 0rem 1.25rem 2.625rem 0.375rem;
	display: table;
}


.image{
	height: 60%;
	margin-top: 30px;
}

.image-container{
	display: table;
	width: auto;
	margin: 0 auto;
}

.profile{
	display: table-cell;
	vertical-align: middle;
}

.profile{
	border-radius: 50%;
}

.link{
	width: 100%;
	margin-top: 20px;
}

.link > ul{
	width: auto;
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: table;
	margin: 0 auto;
}

.link > ul >li{
	position: relative;
	display: table-cell;
	font-size: 20px;
}

.clearfix{
	clear: both;
}

i {
	padding: 10px;
  	display: inline-block;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 50px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
  	box-shadow: 0px 0px 2px #888;
  	background-color: rgba(40, 40, 43, 0.0509804);
	margin-right: 10px;
	color: rgba(40, 40, 43, 0.6);
}

i:hover{
	background: #8fc7b9;
}

.text-center{
	text-align: center;
}

.name{
	font-size: 2.2em;
    line-height: 1.25;
    font-weight: 200;
    margin: 17px;
    margin-bottom: 0px;
    padding: 0;
    color: rgba(40, 40, 43, 0.6);
}

.tagline{
	margin: 5px;
	font-size: 1.2em;
	color: #95b9b0;
}

.hr{
	width: 70%;
	height: 2px;
	background: #95b9b0;
	margin-top: 25px;
	border: none;
}